body, html {
    margin: 0;
    padding: 0;
    height: 2314px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#generate {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: 420px;
    font-size: 65px;
    color: orange;
}

#generate:hover {
    cursor: pointer;
    font-size: 66.5px;
}

.papierek {
    width: 684px;
    height: 1040px;
    margin: auto;
    padding: 40px;
    padding-left: 55px;
    padding-right: 55px;
    box-shadow: 1px 1px 4px black;
    background-color: #f0ecec;
}

.papierek > header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#logo1 {
    width: 280px;
}

#logo2 {
    width: 223px;
}

.papierek > h1 {
    text-align: center;
    margin-top: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

form > label {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

form > label > span {
    width: 4%;
    position: relative;
    bottom: -20px;
}

form > label > p {
    width: 96%;
}

form > label > input {
    outline: none;
    border: 0;
    border-bottom: 2px dotted black;
    background-color: rgba(0, 0, 0, 0);
    width: 85%;
    height: 35px;
    margin-left: 40px;
    margin-top: -17px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 22px;
    color: rgb(36, 102, 189);
}

textarea {
    outline: none;
    border: 0;
    border-bottom: 2px dotted black;
    background-color: rgba(0, 0, 0, 0);
    width: 85%;
    height: 239px;
    resize: none;
    margin-left: 40px;
    margin-top: -17px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 23px;
    color: rgb(36, 102, 189);
    overflow: hidden;
}

form > label > div {
    position: absolute;
    width: 85%;
    margin-left: 40px;
    border-bottom: 2px dotted black;
    margin-top: 0;
    top: 144px;
}

form > footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 211px;
}

.podpis {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: -20px;
}

.podpis > input {
    outline: none;
    border: 0;
    border-bottom: 2px dotted black;
    background-color: rgba(0, 0, 0, 0);
    width: 260px;
    height: 35px;
    margin-left: 40px;
    margin-top: -17px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 25px;
    color: rgb(36, 102, 189);
    text-align: center;
}

.podpis > p {
    text-align: center;
    font-size: 16px;
    margin-top: 3px;
    margin-left: 40px;
}